<web-app>    
    <servlet>
        <servlet-name>name</servlet-name>
        <jsp-file>/gitinpt.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>name</servlet-name>
        <url-pattern>/gitinpt</url-pattern>
    </servlet-mapping>


    <!-- サーブレットの登録-->
    <servlet>
        <servlet-name>kekka</servlet-name>
        <servlet-class>GitInputServlet</servlet-class>
    </servlet>

    <!-- URLとサーブレットの対応付け (counter)-->
    <servlet-mapping>
        <servlet-name>kekka</servlet-name>
        <url-pattern>/GitInputServlet</url-pattern>
    </servlet-mapping>
    
          
</web-app>